.page-404 {
  p:first-of-type {
    position: relative;
    &:before {
      content: '404';
      font: bold 82px/1 sans-serif;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 4px #aaa;
      display: block;
    }
  }
}