.page {
	margin: 1vh 1vw;
	padding: 1rem;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px #000;

	.page-title {
		background: #555;
		color: #fff;
		margin: -.5rem -.5rem 1rem -.5rem;
		border-radius: 5px;
		padding: .5rem;
		a {
			color: #99f;
		}
	}
}