@charset "utf-8";

$main-background: #f7f5f2;
$secondary-background: #c2cfb2;
$main-block-bg-color: #7e8987;
$main-block-color: #fff;
$secondary-color: #6a9a5b;

$ui-color: #4b4a67;

// $header-background: #7e8987;
