@import "./config.scss";

form {
	position: relative;

	label {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0.5rem;

		&.heading {
			>span {
				font-weight: bold;
			}
		}

		>span {
			flex: 1 1 50%;
		}

		>.form-control {
			flex: 1 1 50%;
			min-width: 250px;

			@media screen and (max-width: 640px) {
				&.fc-checkbox {
					flex: 1 1 0;
				}
			}

			&.fc-multiline {
				flex: 0 1 85%;
				margin-left: auto;
			}

			textarea,
			select,
			input:not([type="checkbox"]) {
				width: calc(100% - 3em - 20px);
				max-width: 80vw;
				box-sizing: content-box;
				padding: 2px 20px 2px 2px;
			}

			.icon-close {
				font-size: .9em;
				transform: translate(-20px, 1px);
				display: inline-block;
				position: absolute;
			}

			textarea {
				min-height: 10em;
			}
		}
	}

	legend {
		font-weight: 500;
		font-size: 1.01em;
		padding: 0 5px;
		background: #fff;
		box-shadow: 1px 1px 1.5px 1px #ccc, 5px 0 #fff, -5px 0 #fff;
		border-radius: 3px;
	}

	>fieldset {
		display: block;
		border: 1px solid #666;
		border-radius: 5px;
		margin: 0;
		padding: 0 15px;

		>fieldset {
			border: solid #ddd;
			border-width: 1px 0;
			margin: 0 -5px 1em;
			padding: 0 15px;

			&.noborder {
				border: none;
				padding: 5px 15px 0;
				margin-bottom: 0;
			}

			fieldset {
				border: solid #ddd 1px;
				margin-left: .5em;

				>legend {
					font-size: .9em;
					box-shadow: 1px 1px 1px 1px #ccc;
				}

				&.noborder {
					border: none;
					padding: 0;
					margin: 0;
				}
			}

		}

		&.buttons {
			margin-top: 1em;
			display: flex;
			gap: 1em;
			align-items: center;
			justify-content: center;
			padding: .5em;
		}
	}

	.info {
		font-size: 0.95em;
		font-style: italic;
	}

	.btn-submit {
		display: block;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		border: 1px solid rgb(8, 88, 8);
		border-radius: 4px;
		background: linear-gradient(to bottom, $secondary-color, $ui-color);
		padding: 3px 1em;

		&:disabled {
			background: linear-gradient(to bottom, rgb(196, 196, 196), rgb(100, 100, 100));
			border: 1px solid rgb(88, 88, 88);
		}
	}

	.btn-save {
		display: block;
		color: #202020;
		border-radius: 4px;
		border: 1px solid rgb(88, 88, 88);
		padding: 3px 1em;
	}

	.icon-swap {
		background: #fff;
		font-weight: bold;
		box-shadow: 0 0 1px #000;
		border-radius: 50%;
		width: 1.3em;
		height: 1.3em;
		text-align: center;
		right: 49.4%;
		position: absolute;
		margin-top: -0.8em;
		display: block;
		z-index: 3;
		cursor: pointer;
	}
}