	form {
		label {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: .5rem;
			&.heading {
				>span {
					font-weight: bold;
				}
			}
			> span {
				flex: 1 1 50%;
			}
			> .form-control {
				flex: 1 1 50%;
				input:not([type='checkbox']) {
					width: 20em;
					max-width: 80vw;
				}
			}
		}
		> fieldset {
			display: block;
			border: 1px solid #666;
			border-radius: 5px;
			margin: 0;
			padding: 0 15px;
			> fieldset {
				border: solid #ddd;
				border-width: 1px 0;
				margin: 0 -5px 1em;
				padding: 0 15px;
				&.noborder {
					border: none;
					padding: 5px 15px 0;
					margin-bottom: 0;
				}
				
			}
		}
		.btn-small {
			font-size: .9em;
			padding: 0;
			border: none;
			background: transparent;
			margin-left: .5em;
		}
		.btn-submit {
			margin: 1rem auto;
			display: block;
			color: #fff;
			text-shadow: 1px 1px 1px #000;
			border: 1px solid rgb(8, 88, 8);
			border-radius: 4px;
			background: linear-gradient(to bottom, rgb(10, 110, 10), rgb(8, 88, 8));
			padding: 3px 1em;

			&:disabled {
			background: linear-gradient(to bottom, rgb(196, 196, 196), rgb(100, 100, 100));
			border: 1px solid rgb(88, 88, 88);

			}

		}
	}
