li.observation {
	position: relative;
	margin-bottom: .75em ;
	&::marker {
		font-weight: bold;		
		}

	.location {
		&.location-obscured:before {
			content: "🔘 ";
			font-size: 0.5em;
		}
	}
	> .observation-name {
		padding-left: 0.3em;
		border-left: 3px solid transparent;
		position: relative;
	&::before {
		content: "";
		width: 6px;
		height: 6px;
		border:1px solid transparent;
		transform: rotate(45deg);
		position: absolute;
		top: 40%;
		left: -5px;
	}
	}
}
li.quality {
	&-research > .observation-name::before {
		background: #74ac00;
		border-color: #416100;
	}
	&-casual > .observation-name::before {
		background: #ccc;
		border-color: #666;
	}
}
.activity {
	list-style-position: outside;
	margin: 0;
	padding: 0 0 5px 1em;
	li {
		list-style-position: outside;
		&.comment {
			&::marker {
				content: "💬 ";
			}
		}
		&.identification {
			position: relative;
			&::marker {
				content: "👁‍🗨 ";
			}
			&.identification-outdated {
				.taxon-link {
					text-decoration: line-through;
				}
				&::before {
					content: "❌";
					font-size: 10px;
					width: 0;
					position: absolute;
					margin: 0.4em 0 0 -2em;
				}
				// &::marker {
				// content: "👁‍🗨❌            ";
				// letter-spacing: -1.4em;
				// }
			}
		}
		.comment {
			margin-left: 1em;
		}
	}
}
