.page-newSpecies {
	.result {
		ul.taxons
		li {
			&.has-common-name {
				em {
					&::before, &::after {
						display: inline;
					}
					&::before {
						content: '(';
					}
					&::after {
						content: ')';
					}
				}
			}
		}
	}
}