.App {
	background: #eee;
	width: 100vw;
	height: 100vh;
	overflow: auto;

	header.App-header {
		background: #333;
		color: #fff;
		padding: 0.5rem;
		position: relative;
		h1 {
			margin: 0;
			padding: 0.5rem;
			font-size: 1.5rem;
		}
		.btn-menu {
			position: absolute;
			top: 20px;
			right: 10px;
			background: rgba(0, 0, 0, 0.2);
			border: none;
			color: #fff;
			font-size: 1em;
			line-height: 1.2;
			/* font-weight: bold; */
			padding: 5px 15px;
			&.open {
				box-shadow: 0 0 3px #fff;
			}
		}
		ul {
			display: inline-flex;
			list-style: none;
			padding: 0;
			margin: 0;
			border-radius: 5px;
			background: #000 linear-gradient(to bottom, #222, #000);
			box-shadow: 0 0 1px #000;
			li {
				& + li {
					border-left: 1px solid #444;
				}
				&::marker {
					color: #000;
				}
				&.active {
					background: #444 linear-gradient(to bottom, #404040, #202020);
					text-shadow: 1px 1px #000;
				}
				a {
					text-decoration: none;
				}
			}
		}
		a {
			color: #fff;
			display: block;
			padding: 4px 10px;
		}
		@media screen and (min-width: 600px) {
			.btn-menu {
				display: none;
			}
		}
		@media screen and (max-width: 600px) {
			ul {
				display: none;
			}
			.btn-menu.open + ul {
				display: flex;
				flex-direction: column;
				li {
					& + li {
						border-left: none;
						border-top: 1px solid #fff;
					}
				}
			}
		}
	}
	.loader {
		font-weight: bold;
		svg {
			vertical-align: text-bottom;
			display: inline-block;
			width: 1.2em;
			height: 1.2em;
		}
	}
	footer.app-footer {
		padding: 0.5rem;
		text-align: center;
		a {
			color: #22a;
			text-decoration: none;
		}
		i:before {
			content: '';
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: #000;
			margin: 2px 3px 3px;
			display: inline-block;

		}
	}
}
